header {
  background: #0c5ddd;
}

body {
  background-image: url("imgs/i_need_to_rebrand.webp");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.logo {
  float: left;
  padding: 10px 5px;
  /*width: 128;*/
  /*height: 128;*/
}

.endodeTxt {
  color: ghostwhite;
  /* -webkit-text-stroke: 0.5px black; */
}
