:root {
  --font_to_use: Fira Code;
}

@font-face {
  font-family: "Fira Code";
  src: url("/assets/fonts/FiraCode-Regular.ttf") format("truetype");
}

/* @font-face {
    font-family: 'UbuntuMonospace';
    src: url('/assets/fonts/UbuntuMono-Regular.ttf') format('truetype');
} */

/* @font-face {
    font-family: 'JetBrainsMono';
    src: url('/assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
} */

.container {
  width: 95%;
  margin: auto;
}

header {
  background: rgba(22, 100, 179, 0.5);
}

.border_img {
  border: 2px solid slategray;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
  cursor: default;
}

.socials {
  padding: 10px 5px;
  width: 50px;
  height: 50px;
  display: inline;
}

.right {
  float: right;
}

.left {
  float: left;
}

.console {
  color: #29edc0;
  float: left;
  background: rgba(0, 0, 0, 0.8);
}

body {
  background-color: #1a082b;
  font-family: var(--font_to_use);
  /*border: 2px solid ghostwhite;*/
}

h1 {
  color: ghostwhite;
  font-size: 28px;
  font-family: var(--font_to_use);
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 16px;
  color: #dd57ff;
}

.txt {
  color: dodgerblue;
  font-size: 20px;
}

a {
  color: #dd57ff;
}

.a:hover {
  color: dodgerblue;
}

.a:active {
  color: deeppink;
}

.a:visited {
  color: darkcyan;
}

.yellow {
  color: yellow;
}

.blue {
  color: skyblue;
}

.question {
  color: #dd57ff;
  font-style: normal;
}

.answer {
  color: #dd57ff;
  font-style: italic;
  font-weight: bold;
}
